{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Aroma Shop - Checkout</title>
    <link rel="icon" href="{% static 'img/Fevicon.png' %}" type="image/png" />

    <link
      rel="stylesheet"
      href="{% static 'vendors2/bootstrap/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors2/fontawesome/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors2/themify-icons/themify-icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'vendors2/linericon/style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'vendors2/owl-carousel/owl.theme.default.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors2/owl-carousel/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors2/nice-select/nice-select.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors2/nouislider/nouislider.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'css2/style.css' %}" />

    <script src="{% static 'js2/city.js' %}"></script>
  </head>
  <body>
    <!--================ Start Header Menu Area =================-->
   {% include "partials/topnav2.html" %}
    <!--================ End Header Menu Area =================-->

 

    <!--================Checkout Area =================-->
    <section class="blog-banner-area" id="category">
      <div class="container h-100">
        <div class="blog-banner">
          <div class="text-center">
            <h1>Order Confirmation</h1>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!--================End Checkout Area =================-->

    <!--================ Start footer Area  =================-->
   
    <!--================ End footer Area  =================-->

    <script src="{% static 'vendors2/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'vendors2/bootstrap/bootstrap.bundle.min.js' %}"></script>
    {% comment %} <script src="{% static 'vendors2/skrollr.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'vendors2/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendors2/nice-select/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'vendors2/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'vendors2/mail-script.js' %}"></script>
    <script src="{% static 'js2/main.js' %}"></script>
   
    <script language="javascript">print_state("sts");</script>
  </body>
</html>
